.button {
}

.disabled {
}

.secondary {
    color: #7fb8f1;
}

.default {
    color: silver;
}

.red {
    background-color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
